@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import "./styles.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Varela Round", sans-serif;
}

#bg-image {
  width: 100vw;
  height: 100vh;
  background-image: url("../bg-night-sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
